<mat-toolbar color="primary">
  <mat-toolbar-row>Binary Number Game</mat-toolbar-row>
</mat-toolbar>

<div id="content">
  <mat-card>
    <mat-card-content>
      <!--<mat-tab-group (selectChange)="onModeChange()">
        <mat-tab label="Demo">
          <bng-demo-view></bng-demo-view>
        </mat-tab>
        <mat-tab label="Game">
          <bng-game-view></bng-game-view>
        </mat-tab>
      </mat-tab-group>-->
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>

      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
