@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.mat-card, .mat-toolbar .mat-toolbar-row {
  max-width: 500px;
  margin: 0 auto;
}

#content {
  text-align: center;
}

.big-number {
  margin: 0.5em 0;
  font-size: 4em;
  font-weight: bold;
}

.big-number .description {
  font-size: 0.3em;
  font-weight: normal;
  font-style: italic;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
