<bng-display [value]="currentNumber" [displayType]="useHex ? 'hex' : 'dec'"></bng-display>

<mat-slide-toggle [(ngModel)]="useHex">
  {{useHex ? 'Hex' : 'Dec'}}
</mat-slide-toggle>

<bng-bitbar [(value)]="currentNumber"></bng-bitbar>

<div class="text-left">
  <p>
    The <strong>Binary Number Game</strong> is a game to improve your head calculation skills as well as to learn and
    train the conversion of decimal and hexadecimal numbers into binary.
  </p>
  <p>
    The goal is to convert as many numbers as possible into binary before you run out of time.
  </p>
  <p>
    Use this Demo to train the handling. When you are ready switch to
    <a routerLink="/game">Game</a> and try to beat the highscore.
  </p>
</div>
